[Unit]
Description=A powerful, multi-protocol file server with RBAC
After=network.target

[Service]
ExecStart=/usr/lib/folderharbor/node/bin/node /usr/lib/folderharbor/index.js
Environment="INSTALL_PATH=/usr/lib/folderharbor"
User=folderharbor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target